*{
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: gray;

}
h1,p{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: gray;
    /* height: 30vh; */
    font-size: 40px;
    padding: 30px;
}